<h1>Profiles</h1>

<form action="/profiles" method="POST">
  <label for="name">Name:</label>
  <input
    type="text"
    name="searchName"
    id="name"
    placeholder="Search your name"
  />
  <button type="submit">Search</button>
</form>

<hr />

<div>
  <a href="/profiles/edit"><button>Create New Profile</button></a>
</div>
<div>
  <ul>
    <% for (let i = 0; i < profiles.length; i++ ) {%>
    <li>
      <a href="/profiles/<%= profiles[i].id %>"><%= profiles[i].name %></a> |
      <a href="/profiles/<%= profiles[i].id %>/delete"
        ><button>Delete</button></a
      >
    </li>
    <% } %>
  </ul>
</div>
